@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url('./31561a0e87755ca.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}

.centerdiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1{
    color: rgb(226, 223, 11);
    text-transform: capitalize;
    font-size: 45px;
    font-family: 'Acme', sans-serif;
    text-shadow: 0 0 3px blue,
        0 0 5px red;
    
}

h2{
    color: white;
    padding: 10px;
    font-family: 'Permanent Marker', cursive;
    font-size: 22px;
}

textarea{
    background: black;
    opacity: 0.8;
    color: white;
    font-size: large;
    border: 12px solid rgb(221, 147, 51);
    outline: none;
    padding: 10px;
}

.mainbtn{
    background: #ecf0f1;
    border: 5px solid #09456d;
    border-radius: 20px;
    outline: none;
    font-size: 20px;
    padding: 10px 12px;
    cursor: pointer;
}

.mainbtn:hover{
    background: #09456d;
    color: white;
    border: 5px solid #1296ee;
}
